body{
    font-family: Helvetica, sans-serif
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #858585; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

div.main{
    margin: auto;
    position: relative;
    width: 500px;
    border: 1px solid #858585;
    box-shadow: 0 0 15px #858585;
}
div.app-header, div.app-footer{
    text-align: center;
    max-width: 478px;
    width: 100%;
    min-height: 25px;
    color: #fff;
    background: #3367d6;
    padding: 15px 10px;
    border: 1px solid #3367d6;
}
.app-contact-buttons{
    text-align: center;
    font-size: 20px;
    
}
.app-contact-buttons a{
    color:#000;
}
.app-contact-avatar, .app-contact-buttons{
    width: 13.3%;
    height: 50px;
    padding: 15px
}
.app-contact-avatar img{
    width: 50px;
}
.app-content{
    height:700px;
    overflow:auto;
    /**/
}
.icon-link{
    text-decoration: none;

}
tr td{
    border-bottom: 1px solid #858585;
}
tr:hover td{
    height: 60px;
    border-top: 1px solid #858585;
    border-bottom: 2px solid #858585;
}
tr:hover{
    cursor: pointer;
    background-color: #f1f1f1;
    
}
.round-avatar{
    overflow:hidden;
    border-radius: 25px;
}
